body {
    margin-top: 50px;
    background-color: rgb(51, 27, 88);
    text-align: center;

}

h1 {
    color: white;
    font-size: 22px;

}

#image {
    width: 370px;
    
}

@media (min-width: 1200px) {
 
    #image {
        width: 700px;
    }
}